<ui5-title class="AppTitle" level="H1" id="two-way">Scoping</ui5-title>
<div id="two-way-1">
  <app-sizer [(size)]="fontSizePx"></app-sizer>
  <div><ui5-label [style.font-size.px]="fontSizePx">Resizable Text</ui5-label></div>
  <ui5-label for="fontSizePx" >FontSize (px):</ui5-label><ui5-input ngDefaultControl id="fontSizePx" [(ngModel)]="fontSizePx" name="fontSizePx"></ui5-input>
</div>
<br>
<div id="two-way-2">
  <ui5-title class="SubTitle" level="H2">De-sugared two-way binding</ui5-title>
  <app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
</div>
<lib-ui5-web-component-hello-world-view></lib-ui5-web-component-hello-world-view> 


